@import "bootstrap";

@import 'bootstrap-sprockets';

@import 'tablet';
@import 'mobile';


/* Large desktops and laptops */
@media (min-width: 1200px) {

.lyrics-box {
  padding-top: 50px;
}

ul {
  list-style: none;
  font-weight: bold;
  font-style: oblique;
  font-size: 50px;
  color: white;
  background-color: black;
}

.song {
  color: white;
  text-shadow: 5px 2px 4px #337ab7;
}

.form-inline {
  color: white;
  padding: 2em;
}

body {
  margin: auto 10px;
  width: auto;
  height: 2000px;
  background-color: black;
}

.artist {
  color: #337ab7;
  text-shadow: 1px 1px 1px white;
  font-size: 40px;
  position:absolute;
  // left:500px;
  // right:0;
  align: right;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: black;
}

}
