@import "bootstrap";

@import 'bootstrap-sprockets';

ul {
  list-style: none;
  font-weight: bold;
  font-style: oblique;
  font-size: 50px;
  color: white;
  background-color: black;
}

.song {
  color: white;
  text-shadow: 5px 2px 4px #337ab7;
}

.form-inline {
  color: white;
  padding: 2em;
}

body {
  // padding-top: 70px;
  margin: auto 10px;
  width: auto;
  height: 2000px;
  background-color: black;
}

.artist {
  color: #337ab7;
  text-shadow: 1px 1px 1px white;
  font-size: 40px;
  position:absolute;
  left:300px;
  right:0;
}

.url {
  font-size: 30px;
}

// .navbar-fixed-bottom {
//   background-color: black;
// }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
  background-color: black;
}
