
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

.thing {
   display: none !important;
 }

ul {
  list-style: none;
  font-weight: bold;
  font-style: oblique;
  font-size: 50px;
  color: white;
  background-color: black;
}

.song {
  color: white;
  text-shadow: 5px 2px 4px #337ab7;
}

.form-inline {
  color: white;
  padding: 2em;
}

body {
  margin: auto 10px;
  width: auto;
  height: 2000px;
  background-color: black;
}

.artist {
  color: #337ab7;
  text-shadow: 1px 1px 1px white;
  font-size: 40px;
  position:absolute;
  align: right;
}

.url {
  font-size: 30px;
}

footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
  background-color: black;
}

}
